<div class="card my-3">

    <div class="card-header bg-primary">
      <h4 class="card-title">Sofware</h4>
    </div>

    <ul class="list-group list-group-flush">

      {% for app in site.software %}
      <li class="list-group-item skill bg-secondary">
        <img src="/assets/icons/{{ app[1].icon }}" alt="{{ app[0] }}">
        <div class="skill-meter">
          <div class="float-left skill-{{ app[1].skill }}">{{ app[1].skill }}%</div>
          <hr>
        </div>
      </li>
      {% endfor %}

    </ul>
</div>
