@each $color, $val in $colors {
  .bg-color-#{$color} {
    background-color: $val;
  }
  .text-color-#{$color} {
    color: $val;
  }
}

.profile-pic {
  border-style: solid;
  border-width: $spacer;
}

.profile-icon {
  height: $spacer*1.5;
  width: $spacer*1.5;
}
