// Declaration of color classes

@each $color, $val in $colors {
  .bg-color-#{$color} {
    background-color: $val;
  }
  .text-color-#{$color} {
    color: $val;
  }
}

// Profile CSS

.profile-pic {
  border-style: solid;
  border-width: $spacer;
  border-color: theme-color(primary);
}

.profile-icon {
  height: $spacer*1.5;
  width: $spacer*1.5;
}

// Skill Meters CSS

.skill {
  img {
    float: left;
    width: $spacer*3;
    height: $spacer*3;
  }

  span {
    float:left;
    font-size: $spacer*2.5;
    font-family: 'Ubuntu', sans-serif;
  }

  .note {
    margin-left: $spacer*4;
    margin-top: $spacer*2;
  }

}

.skill-meter {

  width: 80%;
  margin-left: $spacer*3.5;

  hr {
    border-top-width: $spacer/2;
    width: 85%
  }

  div {
    height: $spacer*1.5;
    width: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: $spacer*-1/2;

    @for $value from 0 through 10 {
      &.skill-#{$value*10} {
        background-position: percentage($value/10*.94) 0%;
        padding-top: $spacer*1.5;
        padding-left: percentage($value/10*.75);
      }
    }

  }
}
